<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User panel</title>
</head>
<body>

<div style="text-align: center; border: dot-dot-dash black; background-color: darkgrey; font-family: -apple-system">
    <h1> Login panel</h1>
    <form action="/login" method="post" th:object="${userRegistrationAndLoginForm}" style="background-color: dodgerblue">
        <h1 th:text="${info}"></h1>
        <input type="text" th:field="*{login}" placeholder="login">
        <br/>
        <input type="password" th:field="*{password}" placeholder="password">
        <br/>
        <input type="submit" value="Login">
    </form>

    <br/>
    <br/>

    <h1>Registration panel:</h1>
    <form action="/register" method="post" th:object="${userRegistrationAndLoginForm}" style="background-color: orange">
        <h1 th:text="${infoTwo}"></h1>
        <h1 th:text="${infoThree}"></h1>
        <input type="text" th:field="*{login}" placeholder="login">
        <br/>
        <input type="password" th:field="*{password}" placeholder="password">
        <br/>
        <input type="submit" value="Register">
    </form>

</div>

</body>
</html>